[submodule "extern/CommonLibVR"]
	path = extern/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "extern/ImGui"]
	path = extern/ImGui
	url = https://github.com/ocornut/imgui
